#################################################
# Maven
#################################################
target/

#################################################
# Eclipse
#################################################
.project
.classpath
.settings/
.metadata/

#################################################
# IntelliJ
#################################################
.idea/
*.iml

#################################################
# VS Code
#################################################
.vscode/

#################################################
# OS Files
#################################################
.DS_Store
Thumbs.db

#################################################
# Logs
#################################################
logs/
*.log

#################################################
# Reports
#################################################
allure-results/
allure-report/
test-output/
extent-report/

#################################################
# Temporary Files
#################################################
*.tmp
*.bak

#################################################
# Environment Files
#################################################
.env

#################################################
# Allure Reports
#################################################
allure-results/
allure-report/